@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
  --b: rgb(255, 108, 108);
}

*{
  padding: 0;
  margin: 0;
}

body {
  background: #ccd9df;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
}

section{
  margin-top: 20px;
  padding: 20px 10px;
  padding-bottom: 0;
  width: 80%;
  background: white;
  border-bottom: 8px solid #a8b4b8;
  display: flex;
  flex-flow: column nowrap;
}

section>*{
  padding: 10px 0;
}

h1{
  padding-top: 0;
  width: fit-content;
  height: fit-content;
  background-image: linear-gradient(180deg, rgb(17, 34, 46), rgb(8, 51, 82));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

section>p{
  text-align: justify;
  border-top: 2px solid #a8b4b8;
}

section>p>b{
  color: var(--b);
}

article>ul{
  background-color: #ccd9df;
  font-family: monospace;
  font-size: 15px;
  list-style: none;
  padding: 10px 10px;
  border-radius: 10px;
  border-bottom: 4px solid #a8b4b8;

}

article>ul li{
  margin-bottom: 5px;
}

article>ul li::before{
  content: "-";
  margin-right: 5px;
}

.image-container{
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

.image-container>img{
  background-color: #e2ebee;
  width: 30%;
  max-height: 230px;
  object-fit: contain;
  border-bottom: 4px solid #a8b4b8;
  border-radius: 10px;
  margin-top: 10px;
}

.buttons{
  display: flex;
}

.buttons>a{
  flex: 50%;
  text-align: center;
  text-decoration: none;
  font-size: 32px;
  padding: 5px;
  border-radius: 15px;
  color: var(--b);
  transition: 0.3s;
}

.buttons>a:hover{
  background-color: var(--b);
  color: white;
}

